.btn {
    background-color: blue;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.ppl {
    border: 1px solid gray;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}